.conteiner {
  width: $widthMobile;
  margin: 0 auto;
  padding: 0 16px;

  @include mediaTablet() {
    width: $widthTablet;
    padding: 0 40px;
  }

  @include mediaDesktop() {
    width: $widthDesktop;
  }

}
