.section {
  padding: 25px 0;
  background-color: rgba(0, 20, 20, 1);
  color: #fff;
  box-sizing: border-box;
  display: block;
}
.footer-logo {
  width: 116px;
  height: 56px;
  font-size: 24px;
  line-height: 1.16;
  text-align: center;
  color: #fff;
  margin-bottom: 25px;
  text-decoration: none;
  display: inline-block;
}

.footer-wrap {
  display: flex;
  // flex-directional: column;
  justify-content: space-between;
}
.footer-menu {
}

.footer-menu__list {
  margin: 0;
  display: block;
}
.footer-menu__list {
  width: 88px;
  height: 116px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  list-style: none;
}
.footer-menu__item {
  color: #fff;
  font-size: 16px;
  line-height: 1;
  font-style: normal;
  text-decoration: none;
}
.footer-social {
  display: flex;
  flex-flow: row wrap;
}

.righted {
  margin-left: auto;
}
.social-list-footer {
  width: 24px;
  height: 136px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  list-style: none;
  margin: 0;
}

.social-item-footer {
}
.social-link-footer {
}
.social-icon-footer {
}
.footer-address__wrap {
}
.footer-address__list {
  font-size: 16px;
  line-height: 1.18;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}
.footer-address__item {
}
.footer-address__mail {
}
.contact-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: #8d9289;

  text-decoration: none;
  // text-transform: capitalize;
}

.footer-address__tel {
  display: flex;
  flex-direction: column;
}
