.section {
  padding: 25px 0;
  background-color: rgba(0, 20, 20, 1);
  color: #fff;
}
.footer-logo {
}
.footer-menu {
}
.footer-menu__list {
}
.footer-menu__item {
}
.footer-social {
}
.social-list-footer {
}

.social-item-footer {
}
.social-link-footer {
}
.social-icon-footer {
}
.footer-address__wrap {
}
.footer-address__list {
}
.footer-address__item {
}
.footer-address__mail {
}
.contact-link {
}

.footer-address__tel {
}
