.container {
  width: 1200px;
}

.section {
  background-color: rgba(0, 20, 20, 1);
  width: 100%;
  padding-left: 16px;
  padding-right: 32px;
  margin: 0 auto;
  color: #fff;
  box-sizing: border-box;
}

.footer__wrap {
  padding: 25px 0;
}
.footer-logo {
  color: #fff;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-align: center;
  width: 116px;
  height: 56px;
  /* margin-right: auto; */
  text-align: center;
  margin-bottom: 25px;
  /* position: absolute; */
}

.footer-menu {
}
.footer-menu__list {
}
.footer-menu__item {
}
.footer-social {
}
.social-list-footer {
  gap: 32px;
}

.social-item-footer {
}
.social-link-footer {
}
.social-icon-footer {
}
.footer-address__wrap {
}
.footer-address__list {
}
.footer-address__item {
}
.footer-address__mail {
}
.contact-link {
}

.footer-address__tel {
}
