$colorAccent: #86E543; // зелений колір акценту

$widthMobile: 320px; // початок адаптиву для мобільного телефону
$widthTablet: 768px; // початок адаптиву для планшету
$widthDesktop: 1280px; // початок адаптиву для десктопу
