$colorAccent: #86E543; // зелений колір акценту
$colorTextGrey: #8D9289; // сірий колір тексту

$widthMobile: 320px; // початок адаптиву для мобільного телефону
$widthTablet: 768px; // початок адаптиву для планшету
$widthDesktop: 1280px; // початок адаптиву для десктопу
