<section class="take-order section">
  <div class="conteiner">
    <h1 class="take-order__title">Take order</h1>
  </div>

  <div class="double-line order-line">
    <div class="greenline">
      <div class="greenline__item take-order__greenline"></div>
      <div class="greenline__item"></div>
    </div>
    <div class="dark-greenline">
      <div class="dark-greenline__item take-order__dark-greenline"></div>
      <div class="dark-greenline__item"></div>
    </div>
  </div>
  <div class="conteiner">
    <h2 class="take-order__text">Xiberia K9 PRO PC Headset</h2>
    <div class="take-order__thumb">
      <div class="take-order__img-box">
        <picture>
          <source
            srcset="
              ./images/desktop//take-order/img-main.jpg    1x,
              ./images/desktop//take-order/img-main@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/tablet//take-order/img-main.jpg    1x,
              ./images/tablet//take-order/img-main@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/mobile//take-order/img-main.jpg    1x,
              ./images/mobile//take-order/img-main@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="take-order__img"
            src="./images/desktop//take-order/img-main.jpg"
            alt="PRO Headset"
          />
        </picture>
      </div>
      <div class="take-order__price-box">
        <p class="take-order__old-price">65.14 USD</p>
        <p class="take-order__new-price">55.14 USD</p>
      </div>
    </div>

    <ul class="photo-list list">
      <li class="photo-list__item">
        <picture>
          <source
            srcset="
              ./images/desktop//take-order/img-1.jpg    1x,
              ./images/desktop//take-order/img-1@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/tablet//take-order/img-1.jpg    1x,
              ./images/tablet//take-order/img-1@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/mobile//take-order/img-1.jpg    1x,
              ./images/mobile//take-order/img-1@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="photo-list__img"
            src="./images/desktop//take-order/img-1.jpg"
            alt="PRO Headset"
          />
        </picture>
      </li>
      <li class="photo-list__item">
        <picture>
          <source
            srcset="
              ./images/desktop//take-order/img-2.jpg    1x,
              ./images/desktop//take-order/img-2@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/tablet//take-order/img-2.jpg    1x,
              ./images/tablet//take-order/img-2@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/mobile//take-order/img-2.jpg    1x,
              ./images/mobile//take-order/img-2@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="photo-list__img"
            src="./images/desktop//take-order/img-2.jpg"
            alt="PRO Headset"
          />
        </picture>
      </li>
      <li class="photo-list__item">
        <picture>
          <source
            srcset="
              ./images/desktop//take-order/img-3.jpg    1x,
              ./images/desktop//take-order/img-3@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/tablet//take-order/img-3.jpg    1x,
              ./images/tablet//take-order/img-3@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/mobile//take-order/img-3.jpg    1x,
              ./images/mobile//take-order/img-3@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="photo-list__img"
            src="./images/desktop//take-order/img-3.jpg"
            alt="PRO Headset"
          />
        </picture>
      </li>
      <li class="photo-list__item">
        <picture>
          <source
            srcset="
              ./images/desktop//take-order/img-4.jpg    1x,
              ./images/desktop//take-order/img-4@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/tablet//take-order/img-4.jpg    1x,
              ./images/tablet//take-order/img-4@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/mobile//take-order/img-4.jpg    1x,
              ./images/mobile//take-order/img-4@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="photo-list__img"
            src="./images/desktop//take-order/img-4.jpg"
            alt="PRO Headset"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
