<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto:wght@500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./sass/index.scss" />
    <script type="module" src="./index.js"></script>
  </head>
  <body>
    <main class="contacts">
      <section class="contacts__section section">
        <div class="conteiner">
          <h2 class="contacts__title section__title">Сontacts</h2>
        </div>

        <div class="double-line">
          <div class="greenline">
            <div class="greenline__item contacts__greenline"></div>
            <div class="greenline__item"></div>
          </div>
          <div class="dark-greenline">
            <div class="dark-greenline__item contacts__dark-greenline"></div>
            <div class="dark-greenline__item"></div>
          </div>
        </div>

        <div class="image-wrap">
          <picture>
            <source
              srcset="
                images/contact/desktop/contact-main.jpg    1x,
                images/contact/desktop/contact-main@2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                images/contact/tablet/contact-main.jpg    1x,
                images/contact/tablet/contact-main@2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 768px)"
            />
            <img
              class="contacts__img"
              srcset="
                images/contact/mobile/contact-main.jpg    1x,
                images/contact/mobile/contact-main@2x.jpg 2x
              "
              src="images/contact/mobile/contact-main.jpg"
              alt="Зображення клавіатури і геймпаду"
              sizes="100vw"
            />
          </picture>
        </div>
        <div class="conteiner">
          <div class="content-contacts">
            <div class="content-contacts__info">
              <p class="content-contacts__text">
                In case of queries about order handling and/or delay, drop us an
                email at
              </p>
              <a
                href="mailto:info@shopforgamers.com"
                class="content-contacts__email"
                >info@shopforgamers.com</a
              >
            </div>
            <div class="content-contacts__support support">
              <div class="support__wrap">
                <p class="support__label">Email</p>
                <a href="mailto:sfg.info@gmail.com" class="support__email"
                  >Sfg.info@gmail.com</a
                >
              </div>
              <div class="support__wrap">
                <p class="support__label">Phone number</p>
                <ul class="support__tel">
                  <li><a href="tel:+380936432288">+38 (093) 643 22 88</a></li>
                  <li><a href="tel:+380503454423">+38 (050) 345 44 23</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="contact-us">
            <h3 class="contact-us__title">contact us</h3>
            <form class="contact-us__form">
              <div class="contact-us__field">
                <input
                  type="text"
                  name="user-name"
                  id="user-name"
                  class="contact-us__input"
                  pattern="^[a-zA-Z]{1,20}$"
                  placeholder=" "
                  required
                />
                <label class="contact-us__label" for="user-name">Name</label>
              </div>
              <div class="contact-us__field">
                <input
                  type="email"
                  name="user-email"
                  id="user-email"
                  class="contact-us__input"
                  placeholder=" "
                  required
                  pattern="^([a-zA-Z]+)@([a-z0-9_\.-]+)\.([a-z\.]{2,6})$"
                />
                <label class="contact-us__label" for="user-email">Email</label>
              </div>
              <div class="contact-us-textarea">
                <label class="contact-us-textarea__label">
                  <span>Leave your message</span>
                  <textarea
                    name="user-comment"
                    rows="10"
                    class="contact-us-textarea__input"
                  ></textarea>
                </label>
              </div>
              <button
                type="button"
                class="contact-us__send-btn"
                data-modal-open
              >
                send
              </button>
            </form>
          </div>
        </div>
      </section>
      <div class="backdrop-window is-hidden" data-modal>
        <div class="backdrop-window__content">
          <button
            type="button"
            class="backdrop-window__close-btn"
            data-modal-close
          >
            <svg class="backdrop-window__close-icon" width="32" height="32">
              <use href="images/svg/symbol-defs.svg#icon-modal-close"></use>
            </svg>
          </button>
          <p class="backdrop-window__text">
            Thank you <br />
            for your message! <br />
            We will contact you soon!
          </p>
          <a href="./index.html" class="backdrop-window__ok-btn" href="">ok</a>
        </div>
      </div>
    </main>
  </body>
</html>
