04 KB

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contacts</title>
    <link rel="stylesheet" href="./sass/index.scss" />
    <script type="module" src="./index.js"></script>
  </head>
  <body>
    <main class="contacts">
      <section class="contacts__section section">
        <div class="conteiner">
          <h2 class="contacts__title section__title">Сontacts</h2>
        </div>

        <div class="double-line">
          <div class="greenline">
            <div class="greenline__item contacts__greenline"></div>
            <div class="greenline__item"></div>
          </div>
          <div class="dark-greenline">
            <div class="dark-greenline__item contacts__dark-greenline"></div>
            <div class="dark-greenline__item"></div>
          </div>
        </div>

        <!-- <div class="image-wrap">
          <picture>
            <source
              srcset="
                ./images/contact/contact-main/desktop/contact-main.jpg    1x,
                ./images/contact/contact-main/desktop/contact-main@2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/contact/contact-main/tablet/contact-main.jpg    1x,
                ./images/contact/contact-main/tablet/contact-main@2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 768px)"
            />
            <img
              class="contacts__img"
              srcset="
                ./images/contact/contact-main/mobile/contact-main.jpg    1x,
                ./images/contact/contact-main/mobile/contact-main@2x.jpg 2x
              "
              src="./images/contact/contact-main/mobile/contact-main.jpg"
              alt="Зображення клавіатури і геймпаду"
              sizes="100vw"
            />
          </picture>
        </div>-->
      </section>
    </main>
  </body>
</html>
