<footer class="footer-section">
  <div class="footer-conteiner conteiner">
    <a lang="en" href="./index.html" class="footer-logo">SHOP FOR GAMERS</a>

    <div class="footer-wrap">
      <div class="footer-menu">
        <ul class="footer-menu__list">
          <li>
            <a href="./accessories.html" class="footer-menu__item"
              >Accessories</a
            >
          </li>
          <li>
            <a href="./take_order.html" class="footer-menu__item">Take order</a>
          </li>
          <li>
            <a href="./contact.html" class="footer-menu__item">Contact</a>
          </li>
          <li><a href="./blog.html" class="footer-menu__item">Blog</a></li>
        </ul>
      </div>

      <div class="footer-social">
        <ul class="social-list-footer">
          <li class="social-item-footer">
            <a href="https://www.instagram.com/" class="social-link-footer">
              <svg class="social-icon-footer" width="24" height="24">
                <use href="./images/svg/footer.svg#icon-o"></use>
              </svg>
            </a>
          </li>
          <li class="social-item-footer">
            <a href="https://www.youtube.com/" class="social-link-footer">
              <svg class="social-icon-footer" width="24" height="24">
                <use href="./images/svg/footer.svg#icon-youtobe"></use>
              </svg>
            </a>
          </li>
          <li class="social-item-footer">
            <a href="https://www.facebook.com/" class="social-link-footer">
              <svg class="social-icon-footer" width="24" height="24">
                <use href="./images/svg/footer.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer-address__wrap">
      <address>
        <ul class="footer-address__list">
          <li class="footer-address__item">
            <div class="footer-address__mail">
              <h3 class="footer-mail">Email</h3>
              <a
                href="mailto:sfg.info@gmail.com"
                class="contact-link active"
                rel="noopener nofollow noreferrer"
                >Sfg.info@gmail.com</a
              >
            </div>
          </li>
          <li class="footer-address__item">
            <div class="footer-address__tel">
              <h3 class="footer-tel">Phone number</h3>
              <a
                href="tel:+380936432288"
                class="contact-link active"
                rel="noopener nofollow noreferrer"
                >+38 (093) 643 22 88</a
              >

              <a
                href="tel:+380503454423"
                class="contact-link active"
                rel="noopener nofollow noreferrer"
                >+38 (050) 345 44 23</a
              >
            </div>
          </li>
        </ul>
      </address>
    </div>
  </div>
</footer>
