<header class="head./images//er container">
  <div class="header__container">
    <nav class="wrap navigation">
      <a class="header-title link" href="./index.html"
        >SHOP FOR <br />
        GAMERS</a
      >

      <ul class="header-list list">
        <li class="header-item">
          <a class="header-link link" href="">Accessories</a>
        </li>
        <li class="header-item">
          <a class="header-link link" href="">Contact</a>
        </li>
        <li class="header-item">
          <a class="header-link link" href="">Blog</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="menu-open-btn" data-menu-open>
      <svg width="54" height="36">
        <use href="./images/svg/symbol-defs.svg#icon-menu-open"></use>
      </svg>
    </button>

    <button type="button" class="shop-btn">Shop now</button>
  </div>
  <!-- mob-menu -->
  <div class="mob-menu is-hidden" data-menu>
    <div class="mob-menu__container">
      <div class="mob-menu__top">
        <nav class="wrap-mob navigation">
          <a class="header-title link" href=""
            >SHOP FOR <br />
            GAMERS</a
          >
        </nav>
        <button type="button" class="menu-close-btn" data-menu-close>
          <svg width="36" height="36">
            <use href="./images/svg/symbol-defs.svg#icon-menu-close"></use>
          </svg>
        </button>
        <button type="button" class="shop-btn">Shop now</button>
      </div>
      <div class="mob-menu__bottom">
        <ul class="mob-menu__list list">
          <li class="mob-menu__item">
            <a class="mob-menu__link link" href="">accessories</a>
          </li>
          <li class="mob-menu__item">
            <a class="mob-menu__link link" href="">contact</a>
          </li>
          <li class="mob-menu__item">
            <a class="mob-menu__link link" href="">blog</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
