<section class="hero">
  <div class="overlay container_hero">
    <div class="hero__descriptions">
      <h1 class="hero__title">Best shop for buying gaming products</h1>
      <a href="./accessories.html" class="hero__link animate__animated"
        >Start shopping</a
      >
    </div>
    <div class="headset">
      <picture>
        <source
          srcset="./images/hero/headset_desktop.png"
          media="(min-width: 1280px)"
          width="668"
          type=""
        />
        <source
          srcset="./images/hero/headset_table.png"
          media="(min-width: 768px)"
          width="379"
          type=""
        />
        <source
          srcset="./images/hero/headset_mobile.png"
          media="(max-width: 767px)"
          width="304"
          type=""
        />

        <img
          src="./images/hero/headset_mobile.png"
          width="304"
          alt="fon slider"
        />
      </picture>
    </div>
  </div>
</section>
