<section class="section__sale">
  <div class="conteiner">
    <h1 class="section__sale__title">Sale</h1>
  </div>
  <div class="double-line">
    <div class="greenline">
      <div class="greenline__item sale__greenline"></div>
      <div class="greenline__item"></div>
    </div>
    <div class="dark-greenline">
      <div class="dark-greenline__item sale__dark-greenline"></div>
      <div class="dark-greenline__item"></div>
    </div>
  </div>
  <div class="conteiner">
    <ul class="sale__list list">
      <li class="sale__item">
        <a class="sale__link" href="./take_order.html">
          <div class="sale__box">
            <picture>
              <source
                srcset="
                  ./images/desktop/main/sale/img-1.jpg    1x,
                  ./images/desktop/main/sale/img-1@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/tablet/main/sale/img-1.jpg    1x,
                  ./images/tablet/main/sale/img-1@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/mobile/main/sale/img-1.jpg    1x,
                  ./images/mobile/main/sale/img-1@2x.jpg 2x
                "
                media="(min-width: 320px)"
              />
              <img
                class="sale__img"
                src="./images/mobile/main/sale/img-1.jpg"
                alt="PRO Headset"
                width="285"
              />
            </picture>
            <div class="sale__content">
              <h3 class="sale__title">Xiberia K9 PRO PC K9 Headset</h3>
              <div class="sale__price">
                <p class="sale__text__first">65.14 USD</p>
                <p class="sale__text__second">55.14 USD</p>
              </div>
            </div>
          </div>
        </a>
      </li>
      <li class="sale__item">
        <a class="sale__link" href="./take_order.html">
          <div class="sale__box">
            <picture>
              <source
                srcset="
                  ./images/desktop/main/sale/img-2.jpg    1x,
                  ./images/desktop/main/sale/img-2@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/tablet/main/sale/img-2.jpg    1x,
                  ./images/tablet/main/sale/img-2@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/mobile/main/sale/img-2.jpg    1x,
                  ./images/mobile/main/sale/img-2@2x.jpg 2x
                "
                media="(min-width: 320px)"
              />
              <img
                class="sale__img"
                src="./images/mobile/main/sale/img-2.jpg"
                alt="Headset"
                width="285"
              />
            </picture>
            <div class="sale__content">
              <h3 class="sale__title">G95 Light Surround Gaming Headset</h3>
              <div class="sale__price">
                <p class="sale__text__first">72.78 USD</p>
                <p class="sale__text__second">51.78 USD</p>
              </div>
            </div>
          </div>
        </a>
      </li>
      <li class="sale__item">
        <a class="sale__link" href="./take_order.html">
          <div class="sale__box">
            <picture>
              <source
                srcset="
                  ./images/desktop/main/sale/img-3.jpg    1x,
                  ./images/desktop/main/sale/img-3@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/tablet/main/sale/img-3.jpg    1x,
                  ./images/tablet/main/sale/img-3@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/mobile/main/sale/img-3.jpg    1x,
                  ./images/mobile/main/sale/img-3@2x.jpg 2x
                "
                media="(min-width: 320px)"
              />
              <img
                class="sale__img"
                src="./images/mobile/main/sale/img-3.jpg"
                alt="Surround Headset"
                width="285"
              />
            </picture>
            <div class="sale__content">
              <h3 class="sale__title">G95 Light Surround Gaming Headset</h3>
              <div class="sale__price">
                <p class="sale__text__first">78.98 USD</p>
                <p class="sale__text__second">50.98 USD</p>
              </div>
            </div>
          </div>
        </a>
      </li>
      <li class="sale__item">
        <a class="sale__link" href="./take_order.html">
          <div class="sale__box">
            <picture>
              <source
                srcset="
                  ./images/desktop/main/sale/img-4.jpg    1x,
                  ./images/desktop/main/sale/img-4@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/tablet/main/sale/img-4.jpg    1x,
                  ./images/tablet/main/sale/img-4@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/mobile/main/sale/img-4.jpg    1x,
                  ./images/mobile/main/sale/img-4@2x.jpg 2x
                "
                media="(min-width: 320px)"
              />
              <img
                class="sale__img"
                src="./images/mobile/main/sale/img-4.jpg"
                alt="Stereo Headset"
                width="285"
              />
            </picture>
            <div class="sale__content">
              <h3 class="sale__title">Logitech G230 Stereo Gaming Headset</h3>
              <div class="sale__price">
                <p class="sale__text__first">160.00 USD</p>
                <p class="sale__text__second">110.00 USD</p>
              </div>
            </div>
          </div>
        </a>
      </li>
      <li class="sale__item">
        <a class="sale__link" href="./take_order.html">
          <div class="sale__box">
            <picture>
              <source
                srcset="
                  ./images/desktop/main/sale/img-5.jpg    1x,
                  ./images/desktop/main/sale/img-5@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/tablet/main/sale/img-5.jpg    1x,
                  ./images/tablet/main/sale/img-5@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/mobile/main/sale/img-1.jpg    1x,
                  ./images/mobile/main/sale/img-1@2x.jpg 2x
                "
                media="(min-width: 320px)"
              />
              <img
                class="sale__img"
                src="./images/mobile/main/sale/img-1.jpg"
                alt="Keyboard"
                width="285"
              />
            </picture>
            <div class="sale__content">
              <h3 class="sale__title">RGB LED Backlit Mechanical Keyboard</h3>
              <div class="sale__price">
                <p class="sale__text__first">156.00 USD</p>
                <p class="sale__text__second">116.00 USD</p>
              </div>
            </div>
          </div>
        </a>
      </li>
      <li class="sale__item">
        <a class="sale__link" href="./take_order.html">
          <div class="sale__box">
            <picture>
              <source
                srcset="
                  ./images/desktop/main/sale/img-6.jpg    1x,
                  ./images/desktop/main/sale/img-6@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/tablet/main/sale/img-6.jpg    1x,
                  ./images/tablet/main/sale/img-6@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/mobile/main/sale/img-2.jpg    1x,
                  ./images/mobile/main/sale/img-2@2x.jpg 2x
                "
                media="(min-width: 320px)"
              />
              <img
                class="sale__img"
                src="./images/mobile/main/sale/img-2.jpg"
                alt="Mechanical Keyboard"
                width="285"
              />
            </picture>
            <div class="sale__content">
              <h3 class="sale__title">
                K569 RGB LED Backlit Mechanical Keyboard
              </h3>
              <div class="sale__price">
                <p class="sale__text__first">156.98 USD</p>
                <p class="sale__text__second">112.16 USD</p>
              </div>
            </div>
          </div>
        </a>
      </li>
      <li class="sale__item">
        <a class="sale__link" href="./take_order.html">
          <div class="sale__box">
            <picture>
              <source
                srcset="
                  ./images/desktop/main/sale/img-7.jpg    1x,
                  ./images/desktop/main/sale/img-7@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/tablet/main/sale/img-7.jpg    1x,
                  ./images/tablet/main/sale/img-7@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/mobile/main/sale/img-3.jpg    1x,
                  ./images/mobile/main/sale/img-3@2x.jpg 2x
                "
                media="(min-width: 320px)"
              />
              <img
                class="sale__img"
                src="./images/mobile/main/sale/img-3.jpg"
                alt="Wireless Mouse"
                width="285"
              />
            </picture>
            <div class="sale__content">
              <h3 class="sale__title">
                Malloom 1200 DPI 2.4Ghz Wireless Mouse
              </h3>
              <div class="sale__price">
                <p class="sale__text__first">44.24 USD</p>
                <p class="sale__text__second">29.93 USD</p>
              </div>
            </div>
          </div>
        </a>
      </li>
      <li class="sale__item">
        <a class="sale__link" href="./take_order.html">
          <div class="sale__box">
            <picture>
              <source
                srcset="
                  ./images/desktop/main/sale/img-8.jpg    1x,
                  ./images/desktop/main/sale/img-8@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/tablet/main/sale/img-8.jpg    1x,
                  ./images/tablet/main/sale/img-8@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/mobile/main/sale/img-4.jpg    1x,
                  ./images/mobile/main/sale/img-4@2x.jpg 2x
                "
                media="(min-width: 320px)"
              />
              <img
                class="sale__img"
                src="./images/mobile/main/sale/img-4.jpg"
                alt="Gaming Mouse"
                width="285"
              />
            </picture>
            <div class="sale__content">
              <h3 class="sale__title">DARSHION 3200 DPI MZ-17 Gaming Mouse</h3>
              <div class="sale__price">
                <p class="sale__text__first">48.00 USD</p>
                <p class="sale__text__second">32.00 USD</p>
              </div>
            </div>
          </div>
        </a>
      </li>
    </ul>
    <a class="sale__link-light" href="./accessories.html">
      <button class="sale__button-light" type="button">View all</button>
    </a>
  </div>
</section>
