<section class="slider">
  <div class="container__slider">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture class="slider__img">
            <source
              srcset="
                ./images/hero/Banner1-desktop@1x.jpg,
                ./images/hero/Banner1-desktop@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/hero/Banner1-tablet@1x.jpg,
                ./images/hero/Banner1-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/hero/Banner1-mobile@1x.jpg,
                ./images/hero/Banner1-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/hero/Banner1-mobile@1x.jpg"
              alt="banner"
              width="320"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture class="slider__img">
            <source
              srcset="
                ./images/hero/Banner2-desktop@1x.jpg,
                ./images/hero/Banner2-desktop@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/hero/Banner2-tablet@1x.jpg,
                ./images/hero/Banner2-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/hero/Banner2-mobile@1x.jpg,
                ./images/hero/Banner2-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/hero/Banner2-mobile@1x.jpg"
              alt="banner"
              width="320"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture class="slider__img">
            <source
              srcset="
                ./images/hero/Banner3-desktop@1x.jpg,
                ./images/hero/Banner3-desktop@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/hero/Banner3-tablet@1x.jpg,
                ./images/hero/Banner3-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/hero/Banner3-mobile@1x.jpg,
                ./images/hero/Banner3-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/hero/Banner3-mobile@1x.jpg"
              alt="banner"
              width="320"
            />
          </picture>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
