<section class="slider">
    <div class="container__slider">
        <div class="slider__div">
            <div class="slider__line">
                <img class="slider__img" src="/src/images/hero/slider_1@1x.jpg" alt="slider">
                <!-- <p class="title__slider">One place for everything you want</p> -->
                <img class="slider__img" src="/src/images/hero/slider_2@1x.jpg" alt="slider">
                <img class="slider__img" src="/src/images/hero/slider_3@1x.jpg" alt="slider">
            </div>
        </div>
        <div class="button__slider">
            <button class="button__slide--1" type="button"></button>
            <button class="button__slide--2" type="button"></button>
            <button class="button__slide--3" type="button"></button>
        </div>
    </div>
</section>