.blog {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    // background-color: #86e543;
    margin-top: 20px;
    background-image: url(../images/blog_img/bg/hero-bg-desctop.jpg);
    @media screen and (min-width: 320px) {
        background-image: url(../images/blog_img/bg/hero-bg-mob.jpg);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/blog_img/bg/hero-bg-mob-2x.jpg);
        }
    }

    @media screen and (min-width: 768px) {
        margin-top: 40px;
        max-width: 1280px;
        background-image: url(../images/blog_img/bg/hero-bg-tab.jpg);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/blog_img/bg/hero-bg-tab-2x.jpg);
        }
    }

    @media screen and (min-width: 1280px) {
        margin-top: 48px;
        max-width: 1600px;
        background-image: url(../images/blog_img/bg/hero-bg-desctop.jpg);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/blog_img/bg/hero-bg-desctop-2x.jpg);
        }
    }
}

.blog_double__line {
        @include doubleLine-mob(121);
        @include mediaTablet() {
            @include doubleLine-tablet(261);
        }
    }


// .blog .conteiner {
//     @media screen and(max-width:479px) {
//         padding-left: 0;
//         padding-right: 0;
//     }
// }

.blog__img img {
    display: block;
    // width: 100%;
    max-width: 480px;
    height: auto;
    margin-top: 16px;

    @include mediaTablet {
        width: 387px;
        height: 228px;
        border-radius: 12px;
    }

    @include mediaDesktop {
        height: 364px;
        margin-top: 0;
    }
}

.blog__title {
    
    display: block;
        margin-bottom: 6px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    color: #ffffff;
    
    @media screen and (min-width: 768px)  {

        font-size: 56px;
        line-height: 1.18;
        padding-left: 83px;
        
    }
        @media screen and (min-width: 1280px) {
    
            font-size: 56px;
            line-height: 1.18;
            padding-left: 126px;
    
        }
}

.blog__item {
    @include mediaDesktop {
        position: relative;
    }
}

.blog__thumb {
    @include mediaMobile {
        .container {
            padding-left: 0;
            padding-right: 0;
        }
    }

    @include mediaTablet {
        display: flex;
        // align-items: flex-end;
        flex-wrap: wrap;
        margin-top: auto;
    }
}

.blog__item:not(:last-child) {
    margin-bottom: 24px;
}

.blog__list {
    list-style: none;
    text-decoration: none;
}

.blog__guide {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.166;
    color: #ffffff;
    margin-bottom: 16px;

    // margin-left: 16px;
    @media screen and(max-width:479px) {
        padding-left: 17px;
        padding-right: 18px;
    }

    @include mediaTablet {
        font-size: 56px;
        line-height: 1;
    }

    @include mediaDesktop {
        position: absolute;
        width: 692px;
        left: 508px;
        top: 0px;
    }
}

.blog__description {
    margin-top: 8px;

    @media screen and(max-width:479px) {
        padding-left: 17px;
        padding-right: 18px;
    }

    @media screen and (min-width: 768px) {
        margin-top: auto;
        margin-left: 40px;
    }

    @media screen and (min-width: 1280px) {
        display: flex;
        position: absolute;
        width: 692px;
        justify-content: space-between;
        left: 508px;
        top: 164px;
        margin-left: 0;
        // bottom: 174px;
    }
}

.blog__author {
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    color: #ffffff;

    margin-top: 8px;

    @include mediaTablet {
        margin-bottom: 32px;
        // margin-left: 16px;
        font-size: 24px;
        line-height: 1;
        width: 248px;
    }

    @include mediaDesktop {
        width: auto;
        margin-left: 0;
        margin-bottom: 0;
    }
}

.blog__update {
    font-weight: 600;
    padding: auto;
    font-size: 16px;
    line-height: 100%;
    color: #8d9289;
    // margin-left: 16px;
    margin-top: 8px;
    margin-bottom: auto;

    @include mediaTablet {
        font-size: 24px;
        line-height: 1;
        width: 248px;
    }

    @include mediaDesktop {
        width: auto;
        margin-right: 0;
        position: absolute;
        right: 0;
    }
}

.blog-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.187;
    color: #ffffff;
    margin-top: 16px;

    // margin-left: 16px;
    @media screen and(max-width:479px) {
        padding-left: 17px;
        padding-right: 18px;
    }

    @include mediaDesktop {
        font-size: 24px;
        line-height: 1.16;
        position: absolute;
        width: 693px;
        left: 507px;

        // bottom: 40px;
        top: 212px;
        // width: auto;
        // margin-right: 0;
    }
}

.blog__item:nth-child(2n) .blog-text {
    @include mediaDesktop {
        padding-top: 24px;
    }
}

.blog__nav {
    display: inline-block;
    width: 100%;
    text-align: end;
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    color: #86e543;
    margin-top: 8px;

    @media screen and(max-width:479px) {
        padding-left: 17px;
        padding-right: 18px;
    }

    @include mediaDesktop {
        font-size: 24px;
        position: absolute;
        top: 340px;
        right: 0;
        // bottom: 0;

        // left: 1077px;
    }
}

.desk {
    top: 192px;
    // margin-top: 24px;
}