.blog {
    background-image: url(../images/blog_img/mobile/blog-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.blog__image {
    @media screen and (min-width: 768px) {
        border-radius: 12px;
    }
}

.blog__main-title {
    margin-top: 40px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    color: #ffffff;

    @media screen and (min-width: 768px) {
        padding-top: 120px;

        font-size: 56px;
        line-height: 1;
    }

    @media screen and (min-width: 1280px) {
        font-weight: 500;
        font-size: 56px;
        line-height: 1;
    }
}

// .blog__list {
// }
.blog__item {
    margin-bottom: 24px;

    @media screen and (min-width: 768px) {
        margin-bottom: 40px;
    }

    @media screen and (min-width: 1280px) {
        margin-bottom: 40px;
        height: 364px;
    }
}

.blog__img {
    // @media screen and (min-width: 1280px) {
    //   order: -1;
    // }
}

.blog__content {
    margin-bottom: 24px;

    @media screen and (min-width: 768px) {
        margin-bottom: 40px;
    }

    @media screen and (min-width: 1280px) {
        position: relative;
        display: flex;
        flex-direction: column;
    }
}

.blog__title {
    margin-bottom: 16px;
    // margin-top: 20px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    color: #ffffff;

    @media screen and (min-width: 768px) {
        margin-top: 40px;
        font-weight: 500;
        font-size: 56px;
        line-height: 1;
    }

    @media screen and (min-width: 1280px) {
        margin-top: 0;
        position: absolute;
        right: 0;
        left: 508px;

        font-weight: 500;
        font-size: 56px;
        line-height: 1;
    }
}

.blog__desc {
    @media screen and (min-width: 1280px) {
        // position: absolute;
    }
}

.blog__description {
    margin-top: 8px;

    @media screen and (min-width: 768px) {
        margin-top: auto;
        margin-left: 40px;
        // margin-left: auto;
    }

    @media screen and (min-width: 1280px) {
        width: 692px;
        display: flex;
        margin-left: auto;
        position: absolute;
        left: 508px;
        // right: 0;
        top: 164px;
    }
}

.blog__author {
    padding-bottom: 8px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1;

    color: #ffffff;

    @media screen and (min-width: 768px) {
        margin-bottom: 32px;
        font-size: 24px;
    }

    @media screen and (min-width: 1280px) {}
}

.blog__date {
    margin-bottom: 16px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    color: #8d9289;

    @media screen and (min-width: 768px) {
        margin-bottom: 0;
        font-size: 24px;
    }

    @media screen and (min-width: 1280px) {
        position: absolute;
        right: 0;
    }
}

.abc {}

.blog__details {
    @media screen and (min-width: 768px) {
        display: flex;
        margin-bottom: 16px;
    }

    @media screen and (min-width: 1280px) {}
}

.blog__text {
    margin-bottom: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    color: #ffffff;

    @media screen and (min-width: 768px) {
        margin-bottom: 16px;
        font-weight: 400;
        font-size: 24px;
        line-height: 1.17;
    }

    @media screen and (min-width: 1280px) {
        position: absolute;

        left: 507px;
        top: 212px;
        // bottom: 40px;
    }
}

.blog__link {
    display: block;
    text-align: right;

    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    color: #86e543;

    // @media screen and (min-width: 768px) {
    //   font-size: 24px;
    // }
    @media screen and (min-width: 1280px) {
        position: absolute;
        right: 0;
        top: 340px;
        font-size: 24px;
    }

    // &:last-child {
    //   @media screen and (min-width: 768px) {
    //     margin-bottom: 48px;
    //   }
    //   @media screen and (min-width: 1280px) {
    //     margin-bottom: 43px;
    //   }
    // }
}