.select {
  position: relative;
  &:nth-child(3) {
    margin-bottom: 40px;
  }
}
.select.is-active .select__body {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.select.is-active {
  margin-bottom: 120px;
  }

// .select.is-active > .select__header > .select__icon > use:first-child {
//   visibility: hidden;
//   opacity: 0;
//   pointer-events: none;
//   transition: opacity 250ms linear, visibility 250ms linear;
// }
// .select.is-active > .select__header > .select__icon > use:last-child {
//   visibility: visible;
//   opacity: 1;
//   pointer-events: auto;
//   transition: opacity 250ms linear, visibility 250ms linear;
// }

.select__header {
  cursor: pointer;
  display: flex;
  height: 24px;
  margin-top: 40px;
  padding-bottom: 4px;


  font-size: 16px;
  line-height: calc(20 / 16);
  border-bottom: 1px solid $colorAccent;

  &::after, &::before {
    content :'';
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    width: 18px;
    height: 13px;
    transition: opacity 150ms linear, visibility 150ms linear;
  }
  &::after {
    background-image: url(../images/svg/triangle-off.svg);
  }
  &::before {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    background-image: url(../images/svg/triangle-on.svg);
  }




  // @include mediaTablet() {
  //   font-size: 18px;
  //   line-height: calc(20 / 18);
  // }
}
.select.is-active > .select__header::after {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.select.is-active > .select__header::before {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}



.select__current {
  font-size: 16px;
  line-height: calc(20 / 16);
  // @include mediaTablet() {
  //   font-size: 18px;
  //   line-height: calc(20 / 18);
  // }
}
// .select__icon {
//   position: absolute;
//   right: 0;
//   top: 50%;
//   transform: translateY(-50%);

// }

.select__body {
  left: 0;
  position: absolute;
  right: 0;
  top: 100%;
  padding-top: 8px;
  border-bottom: 1px solid $colorAccent;

  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 100ms linear, visibility 100ms linear;
}
.select__item {
  cursor: pointer;
  margin-bottom: 4px;
  font-size: 16px;
  line-height: calc(20 / 16);
  transition: hover 250ms linear;
}

.select__item:hover {
  background-color: #17573D;
}

.contact-us {

  &__btn {
  }
  &__btn--buy {
    background-color:$colorAccent;
    color: #01383A;
    
    
  }
  &__btn--add {
    border: 1px solid $colorAccent;
    color: $colorAccent;
  }
}
.contact-us__button-wrap {
  & > li:first-child {
    margin-bottom: 16px;
  }
  
}

